<h2>история покупок</h2>
<div class="row shopping-cart">
    <ul class="square">
        {{#each priceArr}}
        <li class="row">

            <span class="col-lg-5">{{datePay}}</span>
            <span class="col-lg-5 text-right">-{{price}}</span>
            
            </li>
        
        {{/each}}
    </ul>
</div>